{% extends "projectListing/base.html" %}
{% block content %}
<br>
    <h1>Applications</h1>
    <br>
    <div class="card-deck">
        {% for post in appliedProject %}
        
            {% if post.offerStatus == "p" %}
                <div class="card" style="min-width: 80%; max-width: 80%; margin-bottom: 2rem;"> 
                    <div class="card-body">
                        <h2 class="card-title">{{ post.project.title }}</h2>
                        <h5 class="card-subtitle mb-2 text-muted">Supervised by: Professor {{ post.project.professor.last_name }}</h3>
                        <p class="card-text">{{ post.project.description }}</p>
                        <td>
                            {% if post.applicationStatus == "a" %}
                            <button type="button" class="btn btn-outline-success">Approved</button> 
                            {% elif post.applicationStatus == "r" %}
                            <button type="button" class="btn btn-outline-danger">Rejected</button> 
                            {% else %}
                            <button type="button" class="btn btn-outline-warning">Pending</button> 
                            {% endif %}
                            
                        </td>
                        <br><br>
                        <a href="{% url 'application-detail' post.id %}" class="card-link">View Application</a>
                    </div>
                </div>
            {% endif %}

    
        {% endfor %}
    <div>
{% endblock content %}