{% extends "projectListing/base.html" %}
{% block content %}
<br>
    <h1>Applications</h1>
    <br>
    <div class="card-deck">
        {% for post in projectApplications %}
        
            
            <div class="card" style="min-width: 80%; max-width: 80%; margin-bottom: 2rem;"> 
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <h5 class="card-subtitle mb-2 text-muted">Supervised by: {{ post.professor }}</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Posted on: {{ post.date_applied }}</h3>
                    <p class="card-text">{{ post.description }}</p>
                    <td>
                        {% if post.status == "Accepted" %}
                        <button type="button" class="btn btn-outline-success">
                        {% elif post.status == "Denied" %}
                        <button type="button" class="btn btn-outline-danger">
                        {% else %}
                        <button type="button" class="btn btn-outline-warning">
                        {% endif %}
                            {{ post.status }}
                        </button> 
                    </td>
                    <br><br>
                    <a href="#" class="card-link">View Application</a>
                </div>
            </div>
    
        {% endfor %}
    <div>
{% endblock content %}