{% extends "projectListing/base.html" %}
{% block content %}
<br>
    <h1>My Projects</h1>
    <br>
    <div class="card-deck">
        {% for post in appliedProject %}
        
            {% if post.student.username == request.user.username %}
                {% if post.offerStatus == "a" %}
                    {% if post.applicationStatus == "a"%}
                        <div class="card" style="min-width: 80%; max-width: 80%; margin-bottom: 2rem;"> 
                            <div class="card-body">
                                <h2 class="card-title">{{ post.project.title }}</h2>
                                <h5 class="card-subtitle mb-2 text-muted">Supervised by: {{ post.project.professor }}</h3>
                                <p class="card-text">{{ post.project.description }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    <div>
{% endblock content %}