{% extends "projectListing/base.html" %}
{% block content %}
<br>            
            <div class="card" style="min-width: 80%; max-width: 80%; margin-bottom: 2rem;"> 
                <div class="card-body">
                    <h2 class="card-title">{{ object.title }}</h2>
                    <h5 class="card-subtitle mb-2 text-muted">Supervised by: Professor {{ object.professor.last_name }}</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Posted on: {{ object.date_posted }}</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Number of students: {{ object.desiredNumStudents}}</h3> 
                    <p class="card-text">{{ object.description }}</p>
                    {% if user.type == "STUDENT" %}
                        <form action="{% url 'application-create' %}" method="post">
                            {% csrf_token %}
                        
                        
                         </form>
                        
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="student" value={{ request.user.username }}/>
                            <input type="hidden" name="project" value={{ object.title }}/>
                            <input type="hidden" name="project_id" value=3/>
                            <input type="hidden" name="projectID" value=3/>
                            <input type="hidden" name="appDetails" value={{ request.user.username }}/>

                            <div class="form-group">
                                <a class="btn btn-outline-info" type="submit" href="{% url 'application-create'%}" value="Application">Apply</a>
                            </div>
                        </form>
                        
                    {% endif %}
                </div>
            </div> 

            {% if user.type == "PROFESSOR" %}
                {% if user.username == object.professor.username %}
                    <button type="submit" name='mybtn2'>Download results in Excel</button>
                    <br>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update Project</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete Project</a>
                {% endif %} 
            {% endif %}
            
            {% if user.type == "PROGRAM_DIRECTOR" %}
                {% if post.isApproved is True %}
                        {% if user.username == object.professor.username %}
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update Project</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete Project</a>
                        {% endif %} 
                    {% else %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-approval' object.id %}">Approve Project</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Disapprove Project</a>
                        {% endif %}
                    {% endif %}
        

           
{% endblock content %}